{% extends 'base.html' %}

{% block page_title %}
    <h2>{{ post.title }}</h2>
{% endblock page_title %}
{% block page_content %}
    <h4>{{post.created_on}} | Categories: </h4>
    {% for category in post.category_choose.all %}
        <h3><a href="{% url 'blogs_category' category.category_text %}">{{category.category_text}}</a></h3>
    {% endfor %}
    <p>{{post.body}} <br><br></p>
   
{% endblock page_content %}
    
{% block comment_section %}
    <h2> Leave a Comment</h2>
    <form method="POST" >
        {% csrf_token %}
        <div>{{Form.author}}</div>
        <div>{{Form.body}}</div>
        <button type="submit">Submit</button>
    </form>
    <h3>Comments</h3>
    {% for comment in comments %}
        <p>{{comment.created_on}}</p>
      
        <h3>{{comment.author}}</h3>
        <h4>{{comment.body}}</h4>
    {% endfor %}    
   
{% endblock  %}
