{% extends 'base.html' %}


{% block page_title %}
    <h2>Blog Posts</h2>
{% endblock page_title %}

{% block page_content %}
    {% block post %}
        {% for post in posts %}
          <h3><a href={% url 'blogs_detail' post.pk %}>{{post.title}}</a></h3>
          <h3>{{post.created_on}} | Categories:</h3>
          <small>
               {% for category in post.category_choose.all %}
            <h4><a href="{% url 'blogs_category' category.category_text %}">{{category.category_text}}</a></h4>
          {% endfor %}
          </small>
       
          <p>{{post.body | slice:':400'}}...</p>
        {% endfor %}
        
    {% endblock %}
{% endblock page_content %}
